.cipherbox {
  display: flex;
  flex-direction: column;
  border: black solid 2px;
  flex-grow: 1;
  width: 300px;
  height: 200px;
}

.cipherbox-titlebar {
  background-color: black;
  display: flex;
  align-items: center;
}

.cipherbox-select {
  background: transparent;
  border: none;
  color: white;
  margin: 0;
  padding: 0.5rem;
}

.cipherbox-select option {
  background: black;
}

.cipherbox-handle {
  flex-grow: 1;
}

.cipherbox-button {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
}

.cipherbox-content {
  display: block;
  padding: 0.5rem;
  resize: none;
  border: none;
  margin: 0;
  flex-grow: 1;
}
