.cipherbox {
  display: flex;
  flex-direction: column;
  border: var(--bg-2) solid 2px;
  flex-grow: 1;
  width: 300px;
  height: 200px;
  border-radius: 3px;
  background-color: var(--bg-1);
  transition: border-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cipherbox:focus {
  border-color: var(--text-100);
}

.cipherbox-titlebar {
  display: flex;
  align-items: center;
}

.cipherbox-select option {
  background: transparent;
}

.cipherbox-handle {
  flex-grow: 1;
}

.cipherbox-content {
  display: block;
  padding: 1rem;
  resize: none;
  border: none;
  margin: 0;
  flex-grow: 1;
  background-color: transparent;
  color: var(--text-50);
  transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.cipherbox-content:focus {
  color: var(--text-100);
  font-family: "Raleway", sans-serif;
}
