.select {
  background: transparent;
  border: none;
  color: var(--text-50);
  margin: 0;
  transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.select:focus,
.select:hover {
  color: var(--text-100);
}

.select option {
  background-color: var(--bg-1);
}
