.modal-backdrop {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: grid;
  place-content: center;
  background-color: #00000088;
  cursor: pointer;
}

.modal-body {
  background-color: var(--bg-1);
  padding: 1rem;
  border-radius: 3px;
  cursor: default;
}

.modal-title {
  margin: 0;
}
