@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");

.app-title {
  font-family: "Cinzel Decorative", sans-serif;
  font-weight: normal;
  height: 4rem;
  display: flex;
}

.app-title-letter {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
}
